*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #474747;
}

h1{
    font-size: 25px;
}

h2{
    font-size: 22px;
}

h3{
    font-size: 20px;
}

.content{
    background-color: #ECECEC;
    min-height: 100vh;
}

.container{
    max-width: 1366px;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}

.burger-form{
    margin-top: 20px;
}

.option-block{
    margin: 0 0 20px 0;
}

.option-title{
    margin-bottom: 10px;
    color: #91865C;
}

button{
    border: none;
    background-color: #91865C;
    color: #ECECEC;
    padding: 3px 7px;
    border-radius: 3px;
    outline: none;
    height: 24px;
}

button:hover{
    cursor: pointer;
    background-color: #474747;
    color: #ECECEC;
}

.total{
    display: none;
    flex-direction: column;
    margin-bottom: 20px;
}

.open{
    display: flex;
}

.margin-bottom{
    margin-bottom: 10px;
}

.margin-top{
    margin-top: 5px;
}

.padding-left{
    padding-left: 15px;
}