@media (max-width: 1200px){
    .center {
        padding-left: 32px;
        padding-right: 32px;
    }

    .advantages{
        flex-direction: column;
    }

    .advantage{
        margin: 0 0 48px 0;
    }

    .advantage:first-child{
        margin-top: 48px;
    }

    .advantage:last-child{
        margin-bottom: 64px;
    }

    .reg-info{
        width: 604px;
    }
}

@media (max-width: 1144px){
    .featured_products{
        justify-content: space-around;
    }

    .order-info{
        flex-direction: column;
        align-items: center;
        margin-top: 59px;
    }

    .order-products{
        margin-bottom: 62px;
    }

    .order-check{
        flex-direction: row;
        width: 734px;
        justify-content: space-between;
    }

    .total{
        margin-top: 39px;
    }

    .product-block{
        width: 734px;
    }

    .reg-info{
        width: 464px;
    }
}

@media (max-width: 900px){
    .feedback-block{
        flex-direction: column;
        height: 100%;
    }

    .feedback{
        height: 100%;
    }

    .review{
        margin-top: 53px;
    }

    .review p{
        margin-bottom: 59px;
    }

    .subscribe{
        margin-bottom: 140px;
    }

    .sale__item:not(:last-child) {
        margin-right: 19px;
    }

    .featured_products {
        justify-content: space-between;
    }

    .sort{
        margin: 0 0 0 auto;
    }

    .filter{
        margin: 0;
        padding: 0;
    }

    .price_item svg{
        padding: 0 0 0 10px;
    }

    .reg-info{
        width: 354px;
    }

}

@media (max-width: 800px){
    .featured_products {
        flex-direction: column;
        align-items: center;
    }

    .main_product_img{
        height: 624px;
        img{
            width: 466px;
        }
    }

    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .order-buttons{
        margin-left: 114px;
        margin-right: 114px;
    }

    .reg-info{
        h4{
            font-size: 16px;
        }
        p{
            font-size: 16px;
        }
    }

    .advantage-list-item{
        font-size: 16px;
    }
}

@media (max-width: 750px){
    .reg-block{
        flex-direction: column;
        align-items: center;
    }

    .reg-data{
        margin-bottom: 40px;
    }

    .reg-block{
        margin-top: 40px;
    }
}

@media (max-width: 650px){
    .promo__img{
        display: none;
    }

    .promo__text{
        width: 100%;
    }

    .promo__content{
        margin-top: 148px;
        margin-bottom: 148px;
    }

    .main_product_img{
        img{
            position: absolute;
            width: 100vw;
            z-index: 0;
        }
    }

    .order-check{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .order-products{
        width: 100%;
    }

    .product-block{
    width: 100%;
    img{
        width: 143px;
    }
    .product-info{
        h4{
            font-size: 16px;
        }
        p{
            font-size: 14px;
            line-height: 16px;
        }
        &-title{
            margin-bottom: 25px;
        }
    }

    .product-info-p-last-child{
        margin-bottom: 3px !important;
    }

    .quantity{
        height: 16px;
        label{
            font-size: 14px;
            line-height: 16px;
        }
        input{
            border: 1px solid #EAEAEA;
            width: 43px;
            height: 14px;
            color: #575757;
            font-size: 10px;
            line-height: 14px;
            outline: none;
            text-align: center;
        }

    }
}


    .order-buttons{
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 500px){
    .filter{
        padding: 13px 0 16px 0;
    }

    .filter[open]{
        width: 325px;
    }
    
    .filter_block p{
        display: none;
    }

    .new__arrivals{
        flex-direction: column;
        padding: 50px 0;
        box-sizing: border-box;
        h3{
            padding: 0 0 20px 0;
        }
    }

    .product_about_card{
        width: 100%;
        height: 600px;
        p{
            width: 326px;
        }
        h2{
            margin-bottom: 32px;
        }
    }

    .sort a{
        font-size: 10px;
    }

    .choice{
        width: auto;
        padding-top: 50px;
    }

    .product_about{
        margin-bottom: 64px;
    }

    .order-info{
        margin-bottom: 96px;
    }

    .order-products{
        margin-bottom: 50px;
    }

    .order-buttons{
        margin-top: 0;
    }

    .ordinary_button{
        font-size: 12px;
        line-height: 15px;
        width: 174px;
        height: 32px;
    }

    .product-block{
        margin-bottom: 30px;
    }
}

@media (max-width: 375px){
    .center {
        padding-left: 9px;
        padding-right: 9px;
    }

    .sale{
        width: 100%;
        box-sizing: border-box;
        padding-bottom: 64px;
    }

    .sale__top {
        flex-direction: column;
        width: 100%;
        padding-bottom: 0px;
    }

    .sale__item{
        margin-right: 0px !important;
        margin-bottom: 32px;
    }

    .header__right a:not(:first-child){
        display: none;
    }

    .header__right a{
        margin-right: 0 !important;
    }

    .sale__bottom{
        height: 111px;
    }

    .sale__item{
        height: 100%;
    }

    .sale__img{
        height: 100%;
        object-fit:cover;
    }

    .featured_titles{
        margin-bottom: 64px;
    }

    .main_button{
        margin-top: 10px;
    }

    .advantages{
        margin-top: 96px;
    }

    .review p{
        font-size: 18px;
        line-height: 22px;
    }
    
    .subscribe{
        margin-bottom: 109px;
    }

    .subscribe h5{
        font-size: 16px;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        margin-bottom: 10px;
    }

    .social-links{
        margin: 40px 0;
    }


    .promo__heading{
        font-weight: 900;
        font-size: 38px;
        line-height: 38px;
        color: #222222;
    }

    .promo__info{
        font-size: 18px;
        line-height: 20px;
    }

    .featured_items .center{
        padding: 0;
        width: 100%;
    }

    .product-card{
        width: 100%;
    }
}